# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env
.env.*

# Ignore build directories
dist/
build/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
