.paymentProgress {
	width: 60%;
  display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
	background-color: rgb(231, 231, 231);
	height: fit-content;
	padding: 20px;
}